<section id="item" class="item">
  <div class="container">
    <div class="section-title">
      <h2>Items</h2>
    </div>
    <div class="row justify-content-md-center">
      <ng-container *ngFor="let item of items">
        <div class="col-lg-4 col-md-4 wow fadeInLeft">
          <div class="card">
            <div class="card-img">
              <img src="{{ item.imagePath }}" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="javascript:void(0);">{{ item.item }}</a>
              </h5>
              <p class="card-text">
                <span><strong>Code: </strong>{{ item.code }}</span>
                <br />
                <span><strong>Price: </strong>{{ item.price }}</span>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
