.navbar {
  .container {
    color: white;
    display: block;

    .copyright {
      margin: 0 0 5px 0;
    }
    .credits {
      font-size: 13px;

      a {
        text-decoration: none;
      }
    }
  }
}
