<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container text-center">
    <div class="copyright">
      &copy; 2020 Copyright. All Rights Reserved
    </div>
    <div class="credits">
      Designed by
      <a href="https://www.linkedin.com/in/jeudrin/" target="_blank"
        >Jeudrin Alí Marchena Sánchez</a
      >
    </div>
  </div>
</nav>
