.navbar {
  padding: 0.5rem 10%;
  a {
    float: left;
    color: white;
    text-decoration: none;
  }

  a:not(:last-child) {
    padding-right: 20px;
  }

  .navbar-right {
    float: right;
  }
}
