<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">XYZ</a>
  <div class="navbar-right">
    <a routerLink="/company">Companies</a>
    <a routerLink="/machine">Machines</a>
    <a routerLink="/item">Items</a>
    <a routerLink="/sale">Sales</a>
    <a routerLink="/alert">Alerts</a>
  </div>
</nav>
