<section id="sale" class="sale">
  <div class="container">
    <div class="section-title">
      <h2>Sales</h2>
    </div>
    <div class="row justify-content-md-center">
      <ng-container *ngFor="let sale of sales">
        <div class="col-lg-4 col-md-4 wow fadeInLeft">
          <div class="card">
            <div class="card-img">
              <img
                [defaultImage]="'assets/images/preloader.gif'"
                [lazyLoad]="'assets/images/sale.png'"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="javascript:void(0);">{{ sale.id }}</a>
              </h5>
              <p class="card-text">
                <span><strong>Machine: </strong>{{ sale.machine.id }}</span>
                <br />
                <span
                  ><strong>Date: </strong>{{ sale.date.substring(0, 10) }}</span
                >
                <br />
                <span
                  ><strong>Sold Items: </strong
                  >{{ sale.soldItems.length }}</span
                >
                <br />
                <span><strong>Total: </strong>{{ sale.total }}</span>
                <br />
                <span
                  ><strong>Payment Method: </strong
                  >{{ sale.paymentMethod }}</span
                >
              </p>
              <a class="btn" routerLink="/sale/soldItem/{{ sale.id }}"
                >View Sold Items</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
