<section id="alert-component" class="alert-component">
  <div class="container">
    <div class="section-title">
      <h2>Alerts</h2>
    </div>
    <div class="row justify-content-md-center">
      <ng-container *ngFor="let alert of alerts">
        <div class="col-lg-4 col-md-4 wow fadeInLeft">
          <div class="card">
            <div class="card-img">
              <img
                [defaultImage]="'assets/images/preloader.gif'"
                [lazyLoad]="'assets/images/alert.png'"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="javascript:void(0);">{{ alert.id }}</a>
              </h5>
              <p class="card-text">
                <span><strong>Machine: </strong>{{ alert.machine.id }}</span>
                <br />
                <span
                  ><strong>Date: </strong
                  >{{ alert.date.substring(0, 10) }}</span
                >
                <br />
                <span><strong>Message: </strong>{{ alert.message }}</span>
              </p>
              <a class="btn" (click)="withdrawMoney(alert.machine.id)"
                >Withdraw Money</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
