<section id="machine" class="machine">
  <div class="container">
    <div class="section-title">
      <h2>Machines</h2>
    </div>
    <div class="row justify-content-md-center">
      <ng-container *ngFor="let machine of machines">
        <div class="col-lg-4 col-md-4 wow fadeInLeft">
          <div class="card">
            <div class="card-img">
              <img src="{{ machine.imagePath }}" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="javascript:void(0);">{{ machine.id }}</a>
              </h5>
              <p class="card-text">
                <span
                  ><strong>Company: </strong>{{ machine.company.name }}</span
                >
                <br />
                <span><strong>Model: </strong>{{ machine.model }}</span>
                <br />
                <span><strong>Money: </strong>{{ machine.money }}</span>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
