@import "../../../scss/main-styles.scss";

.company {
  .col-lg-4,
  .col-md-4 {
    margin-bottom: 20px;
  }
  .card {
    border: 0;
    text-align: center;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    .card-img {
      overflow: hidden;
      z-index: 9;
      border-radius: 0;
      img {
        max-width: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
    .card-body {
      border-top: 4px solid $white;
      .card-title {
        a {
          font-weight: 600;
          font-size: 18px;
          color: $first-font-color;
          transition: ease-in-out 0.3s;
          text-decoration: none;
        }
        a:hover {
          color: $first-color;
        }
      }
      .card-text {
        text-align: left;
      }
    }
  }
  .card:hover {
    img {
      transform: scale(1.1);
    }
    .card-body {
      border-color: $first-color;
      .card-title a {
        color: $first-color;
      }
    }
  }
}
