<section id="company" class="company">
  <div class="container">
    <div class="section-title">
      <h2>Companies</h2>
    </div>
    <div class="row justify-content-md-center">
      <ng-container *ngFor="let company of companies">
        <div class="col-lg-4 col-md-4 wow fadeInLeft">
          <div class="card">
            <div class="card-img">
              <img
                [defaultImage]="'assets/images/preloader.gif'"
                [lazyLoad]="'assets/images/company.jpg'"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="javascript:void(0);">{{ company.name }}</a>
              </h5>
              <p class="card-text">
                <span><strong>ID: </strong>{{ company.id }}</span>
                <br />
                <span><strong>Money: </strong>{{ company.money }}</span>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
