@charset "utf-8";

/*--------------------------------------------------------------
# Import a Google Font
--------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i");
$font-family-open-sans: "Open Sans", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;

/*--------------------------------------------------------------
# Set your brand colors
--------------------------------------------------------------*/

$white: #ffffff;
$firefly: #334240;
$curious-blue: #428bca;
$picton-blue: #5697d0;

/*--------------------------------------------------------------
# Set your brand variables
--------------------------------------------------------------*/

// Colors
// Light Blue
$first-color: $curious-blue;
$second-color: $picton-blue;

// Font and Colors
$first-font-family: $font-family-open-sans;
$second-font-family: $font-family-montserrat;
$first-font-color: $firefly;
