@import "./main-styles.scss";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: $first-font-family;
  color: $first-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $second-font-family;
}

/*--------------------------------------------------------------
# Scrool
--------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $first-color;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: $first-font-color;
  }
  h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: $first-color;
    bottom: 0;
    left: calc(50% - 25px);
  }
  p {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .section-title {
    h2 {
      font-size: 29px;
    }
  }
}
